@import 'jqtransform.css';
/*-- Rest ------------------------------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
p {
  margin: 0px;
  line-height: 1.2;
}
h1,
h2,
h3,
h4 {
  margin: 4px 0 0 0;
}
/*-- Utility Styles ------------------------------------------------------------------*/
.clearfix:after {
  content: ' ';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/*-- Global Styles -------------------------------------------------------------------------------------------------*/
.heading,
.question > p {
  font-family: 'Doppio One', sans-serif;
  font-size: 12px;
  color: #333333;
}
.stripes li,
.stripes td {
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #ffffff;
  padding: 6px 0;
  margin: 0;
}
/*-- Colors -------------------------------------------------------------------------------------------------*/
body {
  background-color: #ffffff;
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 200, from(#999999), to(#ffffff));
  background-image: -webkit-radial-gradient(50% 50%, #ffffff, #999999);
  background-image: -moz-radial-gradient(50% 50%, #ffffff, #999999);
  background-image: -o-radial-gradient(50% 50%, #ffffff, #999999);
  background-image: -ms-radial-gradient(50% 50%, #ffffff, #999999);
  background-image: radial-gradient(50% 50%, #ffffff, #999999);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: helvetica, arial, sans-serif;
  color: #333;
}
#header,
#footer {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  background-color: #999;
}
#header .inner,
#footer .inner {
  width: 90%;
  margin: 15px  auto;
}
#header {
  background: url('../imgs/header.png') repeat 0 0;
  border-bottom: 1px solid #333;
}
#footer {
  height: 200px;
  background-color: #333;
  border-top: 1px solid #000;
}
#wrapper {
  height: 500px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
#sidebar {
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ececec));
  background-image: -webkit-linear-gradient(top, #ffffff, #ececec);
  background-image: -moz-linear-gradient(top, #ffffff, #ececec);
  background-image: -o-linear-gradient(top, #ffffff, #ececec);
  background-image: -ms-linear-gradient(top, #ffffff, #ececec);
  background-image: linear-gradient(top, #ffffff, #ececec);
  filter: progid:dximagetransform.microsoft.gradient(GradientType=0, StartColorStr='#ffffff', EndColorStr='#ececec');
  float: left;
  /* width: 20%; */

  width: 255px;
  overflow: hidden;
  min-height: 500px;
  border-right: 1px solid #999;
}
#sidebar #logo {
  margin: 4px auto 20px;
  text-indent: -9999px;
  background: url('../imgs/logo.png') no-repeat 0 0;
  width: 72px;
  height: 84px;
  padding: 0;
}
#sidebar .inner {
  width: 90%;
  margin: 20px auto;
}
#sidebar .inner p {
  text-align: left;
  margin: 0 0 4px 0;
  color: #555;
  font-size: 9pt;
  font-weight: bold;
}
#sidebar .inner p#welcome {
  font-weight: bold;
  font-size: 15pt;
}
#sidebar .inner form {
  margin: 0 0 15px 0;
  padding: 0;
}
#sidebar .inner #select_survey {
  margin: 20px 0 0 0;
}
#sidebar #stats,
#sidebar #admin_controls {
  float: none;
  margin: 0px 0 20px 0;
  padding: 0;
  display: block;
  overflow: hidden;
}
#sidebar #stats li,
#sidebar #admin_controls li {
  list-style: none;
  font-size: 10pt;
}
#sidebar #stats li.first,
#sidebar #admin_controls li.first {
  border-top: none;
}
#sidebar #stats li.last,
#sidebar #admin_controls li.last {
  border-bottom: none;
}
#sidebar #stats li.user,
#sidebar #admin_controls li.user {
  background: url('../imgs/user.png') no-repeat 0 0px;
  padding: 2px 0 0px 24px;
}
#sidebar #stats li.excel,
#sidebar #admin_controls li.excel {
  background: url('../imgs/excel.png') no-repeat 0 4px;
  padding-left: 24px;
}
#sidebar #stats li a,
#sidebar #admin_controls li a {
  color: #333;
}
#sidebar #stats li a:hover,
#sidebar #admin_controls li a:hover {
  color: #e06f1d;
}
#sidebar #stats span,
#sidebar #admin_controls span {
  font-weight: bold;
  color: #343434;
  font-size: 11pt;
}
#body {
  float: left;
  width: 1000px;
  height: 485px;
  overflow: auto;
}
#body .inner {
  /* width: 95%; */

  width: 95%;
  margin: 0px auto 40px;
}
#body .inner .error {
  display: none;
  border: 1px solid red;
  color: red;
}
#header #title {
  float: left;
  font-size: 30pt;
  margin: 0;
  font-family: 'Overlock', cursive;
  text-shadow: 1px 3px 0px black;
  color: #FFEEB8;
  font-weight: bold;
}
#header #loginout {
  float: right;
  margin: 17px 0 0 0;
}
#header #loginout li {
  margin: 0 0 4px 0;
  font-size: 10pt;
  color: #343434;
}
#header a {
  border: 1px solid #009bc4;
  color: #eeeeee;
  font-weight: bold;
  line-height: 1.4545em;
  text-shadow: 0 -1px #00692c;
  text-align: center;
  background-color: #0079c1;
  /* #0079C1 */

  background: -moz-linear-gradient(center bottom, #0079c1 0, #0079c1 20%, #00a1ff 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #0079c1), color-stop(20%, #0079c1), color-stop(100%, #00a1ff));
  background: -webkit-linear-gradient(bottom, #0079c1 0, #0079c1 20%, #00a1ff 100%);
  background: -ms-linear-gradient(bottom, #0079c1 0, #0079c1 20%, #00a1ff 100%);
  background: -o-linear-gradient(bottom, #0079c1 0, #0079c1 20%, #00a1ff 100%);
  background: linear-gradient(bottom, #0079c1 0, #0079c1 20%, #00a1ff 100%);
  -moz-box-shadow: 0 1px #28afff inset;
  -webkit-box-shadow: 0 1px #28afff inset;
  box-shadow: 0 1px #28afff inset;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: #0079c1 #00598e #00395b;
  border-style: solid;
  border-width: 1px;
  height: 1.4545em;
  padding: 5px 15px 6px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  /* moz-box-shadow: 0 1px rgba(255,255,255,0.2),0 1px #4dbeff inset; */

  /* -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.2),0 1px #4DBEFF inset; */

  /* box-shadow: 0 1px rgba(255, 255, 255, 0.2),0 1px #4DBEFF inset; */

  text-shadow: 0px 0px 2px black;
  margin: 5px 0 0 0;
}
#header a:hover {
  color: #ffffff;
  font-weight: bold;
  line-height: 1.4545em;
  text-shadow: 0 -1px #009c41;
  text-align: center;
  background-color: #00598e;
  /* #0079C1 */

  background: -moz-linear-gradient(center bottom, #00598e 0, #00598e 20%, #0091e6 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #00598e), color-stop(20%, #00598e), color-stop(100%, #0091e6));
  background: -webkit-linear-gradient(bottom, #00598e 0, #00598e 20%, #0091e6 100%);
  background: -ms-linear-gradient(bottom, #00598e 0, #00598e 20%, #0091e6 100%);
  background: -o-linear-gradient(bottom, #00598e 0, #00598e 20%, #0091e6 100%);
  background: linear-gradient(bottom, #00598e 0, #00598e 20%, #0091e6 100%);
  -moz-box-shadow: 0 1px #0099f4 inset;
  -webkit-box-shadow: 0 1px #0099f4 inset;
  box-shadow: 0 1px #0099f4 inset;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: #00598e #00395b #001928;
  border-style: solid;
  border-width: 1px;
  height: 1.4545em;
  padding: 5px 15px 6px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  /* moz-box-shadow: 0 1px rgba(255,255,255,0.2),0 1px #4dbeff inset; */

  /* -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.2),0 1px #4DBEFF inset; */

  /* box-shadow: 0 1px rgba(255, 255, 255, 0.2),0 1px #4DBEFF inset; */

  text-shadow: 0px 0px 2px black;
  margin: 5px 0 0 0;
}
#header a.loggedin {
  border: 1px solid #A31415;
  color: #eeeeee;
  font-weight: bold;
  line-height: 1.4545em;
  text-shadow: 0 -1px #a31415;
  text-align: center;
  background-color: #f20d2d;
  /* #0079C1 */

  background: -moz-linear-gradient(center bottom, #f20d2d 0, #f20d2d 20%, #c5031b 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #f20d2d), color-stop(20%, #f20d2d), color-stop(100%, #c5031b));
  background: -webkit-linear-gradient(bottom, #f20d2d 0, #f20d2d 20%, #c5031b 100%);
  background: -ms-linear-gradient(bottom, #f20d2d 0, #f20d2d 20%, #c5031b 100%);
  background: -o-linear-gradient(bottom, #f20d2d 0, #f20d2d 20%, #c5031b 100%);
  background: linear-gradient(bottom, #f20d2d 0, #f20d2d 20%, #c5031b 100%);
  -moz-box-shadow: 0 1px #f76e81 inset;
  -webkit-box-shadow: 0 1px #f76e81 inset;
  box-shadow: 0 1px #f76e81 inset;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: #f20d2d #c20a24 #91081b;
  border-style: solid;
  border-width: 1px;
  height: 1.4545em;
  padding: 5px 15px 6px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  /* moz-box-shadow: 0 1px rgba(255,255,255,0.2),0 1px #4dbeff inset; */

  /* -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.2),0 1px #4DBEFF inset; */

  /* box-shadow: 0 1px rgba(255, 255, 255, 0.2),0 1px #4DBEFF inset; */

  text-shadow: 0px 0px 2px black;
  margin: 5px 0 0 0;
}
#header a.loggedin:hover {
  color: #ffffff;
  font-weight: bold;
  line-height: 1.4545em;
  text-shadow: 0 -1px #d01a1b;
  text-align: center;
  background-color: #cc001d;
  /* #0079C1 */

  background: -moz-linear-gradient(center bottom, #cc001d 0, #cc001d 20%, #ac0318 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #cc001d), color-stop(20%, #cc001d), color-stop(100%, #ac0318));
  background: -webkit-linear-gradient(bottom, #cc001d 0, #cc001d 20%, #ac0318 100%);
  background: -ms-linear-gradient(bottom, #cc001d 0, #cc001d 20%, #ac0318 100%);
  background: -o-linear-gradient(bottom, #cc001d 0, #cc001d 20%, #ac0318 100%);
  background: linear-gradient(bottom, #cc001d 0, #cc001d 20%, #ac0318 100%);
  -moz-box-shadow: 0 1px #ff3350 inset;
  -webkit-box-shadow: 0 1px #ff3350 inset;
  box-shadow: 0 1px #ff3350 inset;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: #cc001d #990016 #66000e;
  border-style: solid;
  border-width: 1px;
  height: 1.4545em;
  padding: 5px 15px 6px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  /* moz-box-shadow: 0 1px rgba(255,255,255,0.2),0 1px #4dbeff inset; */

  /* -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.2),0 1px #4DBEFF inset; */

  /* box-shadow: 0 1px rgba(255, 255, 255, 0.2),0 1px #4DBEFF inset; */

  text-shadow: 0px 0px 2px black;
  margin: 5px 0 0 0;
}
#survey_selection #submit {
  background-color: #4784ed;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4784ed), to(#2851cc));
  background-image: -webkit-linear-gradient(top, #4784ed, #2851cc);
  background-image: -moz-linear-gradient(top, #4784ed, #2851cc);
  background-image: -o-linear-gradient(top, #4784ed, #2851cc);
  background-image: -ms-linear-gradient(top, #4784ed, #2851cc);
  background-image: linear-gradient(top, #4784ed, #2851cc);
  filter: progid:dximagetransform.microsoft.gradient(GradientType=0, StartColorStr='#4784ed', EndColorStr='#2851cc');
  color: #fff;
  border: 1px solid #1e3066;
  font-weight: bold;
  text-shadow: 0px 0px 3px #1e3066;
}
#survey_selection select {
  float: left;
  width: 80%;
}
#survey_selection option {
  width: 80%;
}
#questions {
  visibility: hidden;
}
#questions .question {
  margin: 20px 0 50px 0;
  overflow: hidden;
}
#questions .question p {
  font-size: 12pt;
  text-transform: uppercase;
  margin: 0 0 7px 0;
  color: #EEE;
  padding: 10px 10px 8px;
  border: 1px solid black;
  background: #333;
  text-shadow: 1px 1px 0px black;
}
#questions .question table {
  margin: 10px 0 0 0;
  background: #EEE;
  border: 1px solid #555;
}
#questions .question table tr td {
  color: #333;
  padding: 4px 0;
}
#questions .question table tr td:first-child {
  padding-left: 4px;
}
#questions .question table tr td:nth-child(2),
#questions .question table tr td:nth-child(3) {
  text-align: center;
}
#questions .question table tr.question_title td {
  background: #EEE;
  padding: 10px 0 10px 4px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: helvetica, arial, sans-serif;
  font-size: 11pt;
  color: #333;
}
#questions .question table tr.headings td {
  background: #abbfd7;
  border-top: 1px solid #4b719f;
  border-bottom: 1px solid #4b719f;
  color: #222;
}
#questions .question table tr.total td {
  font-weight: bold;
}
#questions .question:nth-child(1) {
  margin-top: 0;
}
#questions .chart  > p {
  font-size: 15pt;
  font-weight: bold;
  margin-top: 25px;
}
#login {
  display: none;
  height: auto;
  width: 400px;
  overflow: hidden;
  margin: 90px auto;
  background: white;
  border-radius: 7px;
  padding: 50px 0;
  border: 1px solid #999;
}
#login input[type="text"],
#login input[type="password"] {
  border: 1px solid #AAA;
  padding: 2px 4px;
  font-size: 12pt;
  display: block;
  width: 200px;
  margin: 0 auto 4px;
}
#login input[type="submit"] {
  border: 1px solid #AAA;
  padding: 5px 0;
  font-size: 12pt;
  display: block;
  width: 210px;
  margin: 0 auto 4px;
}
#list_users {
  margin-top: 0px;
}
#list_users table#users {
  background: #eee;
  border-bottom: 1px solid #777;
  box-shadow: 0px 1px 10px #999;
}
#list_users table#users tr {
  padding: 4px 0;
}
#list_users table#users tr td {
  border-top: 1px solid white;
  border-bottom: 1px solid #AAA;
  padding: 4px 0;
}
#list_users table#users tr td input[type="checkbox"] {
  margin-left: 8px;
}
#list_users table#users tr:last-child td {
  border-bottom: none;
}
#all_users #acl_controls {
  height: 0;
  overflow: hidden;
  background: #333;
  border: 1px solid #000;
  border-top: 0px;
  border-bottom: 0px;
  color: #eee;
  padding: 0 7px 0 7px;
}
#all_users #acl_controls form {
  width: 400px;
  margin: 0 0 0 265px;
  float: left;
}
#all_users #acl_controls form input[type="text"] {
  border: 1px solid black;
  padding: 5px 10px;
  display: block;
  width: 90%;
  background: #EEE;
  font-size: 14pt;
  font-weight: normal;
}
#all_users .acl_controls {
  display: block;
  background: #333;
  padding: 10px 0 7px 0;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
  border-radius: 0 0 9px 9px;
  border: 1px solid black;
  border-top: 0;
  margin-bottom: 10px;
}
#all_users #user_controls {
  width: 100px;
  float: right;
  margin: 0 19px 0 0;
}
#all_users #user_controls li {
  margin: 0;
}
#all_users #user_controls #update input {
  color: #eeeeee;
  font-weight: bold;
  line-height: 1.4545em;
  text-shadow: 0 -1px #00692c;
  text-align: center;
  background-color: #0079c1;
  /* #0079C1 */

  background: -moz-linear-gradient(center bottom, #0079c1 0, #0079c1 20%, #00a1ff 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #0079c1), color-stop(20%, #0079c1), color-stop(100%, #00a1ff));
  background: -webkit-linear-gradient(bottom, #0079c1 0, #0079c1 20%, #00a1ff 100%);
  background: -ms-linear-gradient(bottom, #0079c1 0, #0079c1 20%, #00a1ff 100%);
  background: -o-linear-gradient(bottom, #0079c1 0, #0079c1 20%, #00a1ff 100%);
  background: linear-gradient(bottom, #0079c1 0, #0079c1 20%, #00a1ff 100%);
  -moz-box-shadow: 0 1px #28afff inset;
  -webkit-box-shadow: 0 1px #28afff inset;
  box-shadow: 0 1px #28afff inset;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: #0079c1 #00598e #00395b;
  border-style: solid;
  border-width: 1px;
  height: 1.4545em;
  padding: 5px 15px 6px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  /* moz-box-shadow: 0 1px rgba(255,255,255,0.2),0 1px #4dbeff inset; */

  /* -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.2),0 1px #4DBEFF inset; */

  /* box-shadow: 0 1px rgba(255, 255, 255, 0.2),0 1px #4DBEFF inset; */

  text-shadow: 0px 0px 2px black;
  margin: 5px 0 0 0;
}
#all_users #user_controls #deactivate input {
  color: #eeeeee;
  font-weight: bold;
  line-height: 1.4545em;
  text-shadow: 0 -1px #a31415;
  text-align: center;
  background-color: #d7670b;
  /* #0079C1 */

  background: -moz-linear-gradient(center bottom, #d7670b 0, #d7670b 20%, #d64700 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #d7670b), color-stop(20%, #d7670b), color-stop(100%, #d64700));
  background: -webkit-linear-gradient(bottom, #d7670b 0, #d7670b 20%, #d64700 100%);
  background: -ms-linear-gradient(bottom, #d7670b 0, #d7670b 20%, #d64700 100%);
  background: -o-linear-gradient(bottom, #d7670b 0, #d7670b 20%, #d64700 100%);
  background: linear-gradient(bottom, #d7670b 0, #d7670b 20%, #d64700 100%);
  -moz-box-shadow: 0 1px #f69c52 inset;
  -webkit-box-shadow: 0 1px #f69c52 inset;
  box-shadow: 0 1px #f69c52 inset;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: #d7670b #a65009 #763906;
  border-style: solid;
  border-width: 1px;
  height: 1.4545em;
  padding: 5px 15px 6px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  /* moz-box-shadow: 0 1px rgba(255,255,255,0.2),0 1px #4dbeff inset; */

  /* -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.2),0 1px #4DBEFF inset; */

  /* box-shadow: 0 1px rgba(255, 255, 255, 0.2),0 1px #4DBEFF inset; */

  text-shadow: 0px 0px 2px black;
  margin: 5px 0 0 0;
}
#all_users #user_controls #delete input {
  color: #eeeeee;
  font-weight: bold;
  line-height: 1.4545em;
  text-shadow: 0 -1px #a31415;
  text-align: center;
  background-color: #f20d2d;
  /* #0079C1 */

  background: -moz-linear-gradient(center bottom, #f20d2d 0, #f20d2d 20%, #c5031b 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #f20d2d), color-stop(20%, #f20d2d), color-stop(100%, #c5031b));
  background: -webkit-linear-gradient(bottom, #f20d2d 0, #f20d2d 20%, #c5031b 100%);
  background: -ms-linear-gradient(bottom, #f20d2d 0, #f20d2d 20%, #c5031b 100%);
  background: -o-linear-gradient(bottom, #f20d2d 0, #f20d2d 20%, #c5031b 100%);
  background: linear-gradient(bottom, #f20d2d 0, #f20d2d 20%, #c5031b 100%);
  -moz-box-shadow: 0 1px #f76e81 inset;
  -webkit-box-shadow: 0 1px #f76e81 inset;
  box-shadow: 0 1px #f76e81 inset;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: #f20d2d #c20a24 #91081b;
  border-style: solid;
  border-width: 1px;
  height: 1.4545em;
  padding: 5px 15px 6px;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  /* moz-box-shadow: 0 1px rgba(255,255,255,0.2),0 1px #4dbeff inset; */

  /* -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.2),0 1px #4DBEFF inset; */

  /* box-shadow: 0 1px rgba(255, 255, 255, 0.2),0 1px #4DBEFF inset; */

  text-shadow: 0px 0px 2px black;
  margin: 5px 0 0 0;
}
#all_users #user_controls input {
  margin: 0;
  min-width: 75px;
}
#all_users #success {
  width: 400px;
  margin: 0 auto;
  border: 4px solid green;
  padding: 4px 10px;
  line-height: 1.4;
  background: black;
  display: none;
}
#all_users #success h1 {
  font-size: 17pt;
  font-weight: bold;
}
#all_users #success p {
  text-align: center;
}

div#box20{
/*border: 1px solid red;*/

}

div#box20 form label{
clear:left;
float:left;
text-align:right;
padding: 1px 3px;
width:75px;
color:black;
}

p#org_survey{
margin:10px 0 10px 0;

}

#org_selection{

}

input#link{
font-size:12px;
padding-top:7px;
}

select#report{
margin:3px 0 8px 0;
}


#Dshell{
	position:relative;
	overflow:hidden;
	width:255px;
	height: 110px;
}

#Dshell > div {
	position: absolute;
	top: 0;
	left: 265px;
}
#Dshell > div.on {
	left: 0;
}

#orgD1{
	border:1px solid green;
	height:200px;
}
#orgD2{
	border:1px solid red;
	height:200px;
}
